#preview {
	padding: 3em;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4 {
	font-weight: bold;
	margin: 0;
}

#preview h1 {
	font-size: 16pt;
	margin: 5mm 0;
}

#preview h2 {
	font-size: 14pt;
}

#preview h3,
#preview h4 {
	font-size: 9pt;
}


#preview ol,
#preview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#preview li,
#preview ul {
	margin-bottom: 0.75em;
}

#preview p {
	margin: 0;
	padding: 0;
}

#preview p + p {
	margin-top: 1.25em;
}

#preview a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

#preview span.checkbox {
	display: inline-block;
	width: 3mm;
	height: 3mm;
	border: 1px solid black;
	background-color: white;
}

/* Basic Table Styling */
#preview table {
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: always;
	border: 0;
	margin: 0;
	padding: 0;
}

#preview th,
#preview td {
	vertical-align: top;
	text-align: inherit;
}

#preview table.container {
	width:100%;
	border: 0;
}

#preview tr.no-borders,
#preview td.no-borders {
	border: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	width: auto;
}

/* Header */
#preview table.head {
	margin-bottom: 12mm;
}

#preview td.header img {
	max-height: 3cm;
	width: auto;
}

#preview td.header {
	font-size: 16pt;
	font-weight: 700;
}

#preview td.shop-info {
	width: 40%;
}
#preview .document-type-label {
	text-transform: uppercase;
}

/* Recipient addressses & order data */
#preview table.order-data-addresses {
	width: 100%;
	margin-bottom: 10mm;
}

#preview table.order-data-addresses td.address {
	word-wrap: break-word;
}

#preview td.order-data {
	width: 40%;
}

#preview .invoice .shipping-address {
	width: 30%;
}

#preview .packing-slip .billing-address {
	width: 30%;
}

#preview td.order-data table th {
	font-weight: normal;
	padding-right: 2mm;
}

/* Order details */
#preview table.order-details {
	width: 100%;
	margin-bottom: 0mm;
}

#preview .order-details .cb {
	width: 3.5mm;
}
#preview .order-details .sku,
#preview .order-details .weight,
#preview .order-details .thumbnail,
#preview .order-details .quantity,
#preview .order-details .price,
#preview .order-details .regular_price,
#preview .order-details .vat,
#preview .order-details .discount,
#preview .order-details .tax_rate,
#preview .order-details .total {
	width: 10%;
}

#preview .order-details .product_description {
	width: 50mm;
}
#preview .order-details .all_meta {
	width: 25mm;
}


#preview .order-details .position {
	width: 5%;
}

#preview .order-details .last-column.total {
	text-align: right !important;
}

#preview .order-details .thumbnail img {
	width: 13mm;
	height: auto;
}

#preview .order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

#preview .order-details td,
#preview .order-details th {
	border-bottom: 1px solid #ccc;
	padding: 0.375em;
}

#preview .order-details th {
	font-weight: bold;
	text-align: inherit;
}

#preview .order-details thead th {
	color: white;
	background-color: black;
	border-color: black;
}

/* product bundles compatibility */
#preview .order-details tr.bundled-item td.description {
	padding-left: 5mm;
}

#preview .order-details tr.product-bundle td,
#preview .order-details tr.product-bundle th,
#preview .order-details tr.bundled-item td,
#preview .order-details tr.bundled-item th {
	border-bottom: 0;
}

#preview .order-details tr.bundled-item:last-child td,
#preview .order-details tr.bundled-item:last-child th {
	border-bottom: 1px #ccc solid;
}

#preview .order-details tr.bundled-item.hidden {
	display: none;
}

#preview div.notes-totals-container {
	width: 100%;
}

#preview div.notes-totals-container::after {
	content: '';
	clear: both;
}

/* Notes */
#preview div.notes {
	width: 60%;
	margin-bottom: 8mm;
	float: left;
}

#preview .notes .wrapper {
	page-break-inside: always;
	page-break-after: auto;
	word-wrap: break-word;
}

/* Totals */
#preview .totals {
	width: 40%;
	float: right;
}

#preview .totals table {
	width: 100%;
	border-collapse: separate;
}

#preview .totals th,
#preview .totals td {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.375em;
}

#preview .totals th.description,
#preview .totals td.price {
	width: 50%;
}

#preview .totals td.price {
	text-align: right;
}

#preview .totals .grand-total td,
#preview .totals .grand-total th {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

#preview .totals tr.payment_method {
	display: none;
}

/* bottom spacer */
#preview div.bottom-spacer {
	clear: both;
	height: 8mm;
}

/* item meta formatting for WC2.6 and older */
#preview dl {
	margin: 4px 0;
}

#preview dt,
#preview dd,
#preview dd p {
	display: inline;
	font-size: 7pt;
	line-height: 7pt;
}

#preview dd {
	margin-left: 5px;
}

#preview dd:after {
	content: "\A";
	white-space: pre;
}

/* item-meta formatting for WC3.0+ */
#preview .wc-item-meta {
	margin: 4px 0;
	font-size: 7pt;
	line-height: 7pt;
}
#preview .wc-item-meta p {
	display: inline;
}
#preview .wc-item-meta li {
	margin: 0;
	margin-left: 5px;
}

/* Notes & Totals */
#preview .customer-notes {
	margin-top: 5mm;
}

/* Footer Imprint */
#preview #footer {
	height: 2cm;
	text-align: center;
	border-top: 0.1mm solid gray;
	margin-bottom: 0;
	padding-top: 2mm;
}

/* page numbers */
#preview .pagenum:before {
	content: counter(page);
}
#preview .pagenum,.pagecount {
	font-family: sans-serif;
}

/* styles for legacy 3rd party templates using tables for the notes & totals */
#preview table.notes-totals {
	width:100%;
	margin-bottom: 8mm;
}

#preview table.notes-totals tr {
	page-break-inside: always;
	page-break-after: auto;	
}

#preview table.notes-totals td,
#preview table.notes-totals th {
	border-bottom: 1px #ccc solid;
	padding: 0.375em;
}

#preview table.notes-totals th {
	font-weight: bold;
	text-align: inherit;
}

#preview table.notes-totals table.totals {
	width: 100%;
	margin-top: 5mm;
	table-layout: fixed;
}

#preview table.notes-totals::after {
	content: '';
	clear: both;
}

/* RTL specific */
#preview .rtl {
	direction: rtl !important;
}
#preview .rtl div.totals {
	float: left !important;
}
#preview .rtl div.notes {
	float: right !important;
}